body {
  margin: 0;
  padding: 0;
  background-color:#067ACD;
  height: 100vh;
}
#login .container #login-row #login-column #login-box {
  margin-top: 80px;
  max-width: 500px;
  height: 100%;
  border: 1px solid #9C9C9C;
  background-color: #EAEAEA;
}
#login .container #login-row #login-column #login-box #login-form {
  padding: 20px;
}
.btn.btn-info{
	width:100%;
}
